<div >
	<h1>Utility app</h1>
	<hr/>
	<h3>A bunch of utility apps to help my daily development</h3>
	<hr/>

	<div class="row">
        <div class="col-lg-4">
          <h2>REST requests</h2>
          <p>
          	Make a REST call setting URL, method, headers and body and <b>watch the responses</b>
          	<br/>
          	<p><a class="btn  btn-success" href="#/request">Make a REST call &raquo;</a></p>
          </p>
          <p>
			Create a bin for your applications calls and <b>inspect</b> what you sent
			</p>
			<p><a class="btn  btn-success" href="#/requestBin">Create a request BIN &raquo;</a></p>
	       
	    </div>
        <div class="col-lg-4">
          <h2>Random JSON Generator</h2>
          <p>
          	Create a random JSON setting its schema. You can also use the APIs to get the 
          	JSON while testing you application
          </p>
          	<p><a class="btn btn-success" href="#/randomJson">Create a random JSON &raquo;</a></p>
			
	       
       </div>
        <div class="col-lg-4">
          <h2></h2>
          <p></p>
          <p></p>
        </div>
      </div>
</div>