<h1>HTTP Request generator</h1>

<table class="table">
	<tr>
		<td>Endpoint</td>
		<td>
			<input class="form-control" ng-model="url" placeholder="http://www.example.com"/>
		</td>
	</tr>
	<tr>
		<td>Method</td>
		<td>
			<select ng-model="method" class="form-control">
				<option value="GET">GET</option>
				<option value="POST">POST</option>
				<option value="PUT">PUT</option>
				<option value="DELETE">DELETE</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Headers
			<br/>
			<button class="btn btn-info btn-xs" type="url" ng-click="addHeader()">Add header...</button>
		</td>
		<td>

			<table class="table table-striped" width="100%">
				<tr><th>Name</th><th>Value</th><td></td></tr>
				<tr ng-repeat="h in headers">
					<td>
					<!--
						<input class="form-control" ng-model="h.key"/>
					-->
						<input type="text" ng-model="h.key" typeahead="key for key in headersList | filter:$viewValue | limitTo:10">
					</td>
					<td><input class="form-control" ng-model="h.value"/></td>
					<td><button class="btn btn-xs btn-danger" ng-click="removeHeader($index)">
						<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
				</tr>
				
			</table>

		</td>
	</tr>
	<tr>
		<td>Body</td>
		<td>
			<textarea class="form-control" ng-model="body"></textarea>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<button class="btn btn-danger btn-lg btn-block" ng-click="requestCall()">Call</button>
		</td>
</table>

<h3>Response</h3>
<h4>Error</h4>
<pre>{{response.error}}</pre>
<h4>Status Code</h4>
<pre>{{response.status}}</pre>
<h4>Headers
	<span ng-hide="showHeader" ng-click="showHeader=true" style="cursor:pointer; font-weight:bold;"> <span class="glyphicon glyphicon-folder-close"></span></span>
	<span ng-show="showHeader" ng-click="showHeader=false" style="cursor:pointer; font-weight:bold;"> <span class="glyphicon glyphicon-folder-open"></span>
</h4>
<pre ng-hide="showHeader"></pre>
<pre ng-show="showHeader">{{response.headers | json}}</pre>

<h4>Body
<span ng-hide="showBody" ng-click="showBody=true" style="cursor:pointer; font-weight:bold;"> <span class="glyphicon glyphicon-folder-close"></span></span>
<span ng-show="showBody" ng-click="showBody=false" style="cursor:pointer; font-weight:bold;"> <span class="glyphicon glyphicon-folder-open"></span>
</h4>
<pre ng-hide="showBody"></pre>
<pre ng-show="showBody">{{response.body | json}}</pre>