<h1>HTTP Request generator</h1>

<table class="table">
	<tr>
		<td rowspan="5" style="width:100px">
			<a data-toggle="modal" href="#historyModal" class="btn btn-primary ">
				Load request <span class="glyphicon glyphicon-floppy-open"></span>
			</a>
			<br/><br/>
			<button class="btn btn-success btn-block" ng-click="saveRequest()" title="Only 10 slots per session" ng-disabled="!url">Save request <span class="glyphicon glyphicon-floppy-save"/></button>
		</td>

		<td style="width:220px">Endpoint</td>
		<td>
			<input id="_endpointTxt" class="form-control" ng-model="url" placeholder="http://www.example.com" ng-enter="requestCall()"/>
		</td>
	</tr>
	<tr>
		<td>Method</td>
		<td>
			<select ng-model="method" class="form-control">
				<option value="GET">GET</option>
				<option value="POST">POST</option>
				<option value="PUT">PUT</option>
				<option value="DELETE">DELETE</option>
				<option value="OPTIONS">OPTIONS</option>
				<option value="HEAD">HEAD</option>
				<option value="TRACE">TRACE</option>
				<option value="CONNECT">CONNECT</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Headers
		</td>
		<td>

			<table class="table table-striped" width="100%">
				<tr><th>Key</th><th>Value</th><td></td></tr>
				<tr ng-repeat="h in headers">
					<td>
						<input class="form-control" type="text" ng-model="h.key" typeahead="key for key in headersList | filter:$viewValue | limitTo:10">
					</td>
					<td><input class="form-control" ng-model="h.value"/></td>
					<td><button class="btn btn-danger" ng-click="removeHeader($index)">
						<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
				</tr>
				<tfoot>
				<tr><td colspan="3">
					<button class="btn btn-info" type="url" ng-click="addHeader()"><span class="glyphicon glyphicon-plus"/></button>
				</td></tr>
				</tfoot>
			</table>

		</td>
	</tr>
	<tr>
		<td>Body</td>
		<td>
			<textarea class="form-control" ng-model="body"></textarea>
		</td>
	</tr>
	<tr>
		<td>
			
		</td>
		<td>
			<button class="btn btn-danger btn-lg btn-block" ng-click="requestCall()" ng-disabled="!url">Send <span class="glyphicon glyphicon-envelope"/></button>
		</td>
</table>

<h3>Response</h3>
<table width="100%">
	<tr>
		<td width="20%">
			<h4>Status Code</h4>
			<pre>{{response.status}}</pre>
		</td>
		<td width="5%"></td>
		<td>
			<h4>Status message</h4>
			<pre>{{response.error}}</pre>
		</td>
	</tr>
</table>
<h4>
	<a class="btn btn-lg" ng-class="{'btn-info':!showHeader, 'btn-default':showHeader}" ng-click="showHTMLBody=false; showBody=false; showHeader=!showHeader">
		Headers 
		<span ng-hide="showHeader"  > <span class="glyphicon glyphicon-folder-close"></span></span>
		<span ng-show="showHeader"  > <span class="glyphicon glyphicon-folder-open"></span></span>
	</a>
	 
	<a class="btn btn-lg" ng-class="{'btn-info':!showBody, 'btn-default':showBody}" ng-click="showHTMLBody=false; showBody=!showBody; showHeader=false">
		Body (Raw)
		<span ng-hide="showBody" > <span class="glyphicon glyphicon-folder-close"></span></span>
		<span ng-show="showBody" > <span class="glyphicon glyphicon-folder-open"></span></span>
	</a>
	

	<span class="btn btn-lg" ng-class="{'btn-info':!showHTMLBody, 'btn-default':showHTMLBody}" ng-click="showHTMLBody=!showHTMLBody; showBody=false; showHeader=false">
		Body (HTML)
		<span ng-hide="showHTMLBody" > <span class="glyphicon glyphicon-folder-close"></span></span>
		<span ng-show="showHTMLBody" > <span class="glyphicon glyphicon-folder-open"></span></span>
	</span>


</h4>
<!--
<pre style="height:400px; overflow: auto;" ng-show="showHeader && response.headers">{{response.headers | json}}</pre>
-->
<div style="height:400px; overflow: auto;" ng-show="showHeader && response.headers" class="well well-small">
	<data-json-tree ng-model="response.headers"></data-json-tree>
</div>

<pre style="height:400px; overflow: auto;" ng-show="showBody && response.body">{{response.body | json}}</pre>
<div style="height:400px;" ng-show="showHTMLBody && response.body">
	<data-ng-iframe ng-model="response.body"/>
</div>

<pre style="height:400px; overflow: auto;" ng-show="showHeader && !response.headers">No data</pre>
<pre style="height:400px; overflow: auto;" ng-show="showBody && !response.body">No data</pre>
<pre style="height:400px;" ng-show="showHTMLBody && !response.body">No data</pre>


<!-- HISTORY MODAL -->

<div class="modal fade in"  id="historyModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Session's Request History</h4>
      </div>
      <div class="modal-body">
        	<table class"table table-striped" style="width:100%">	
        		<thead>
	        		<tr>
	        			<td colspan="4" style="text-align:right">
							<button class="btn btn-danger btn-xs" ng-disabled="sessionRequests.length==0"
								ng-click="resetSessionHistory()">Reset history
								<span class="glyphicon glyphicon-remove"/>
							</button>
							<br/><br/>
						</td>
					</tr>
				</thead>
				<tr ng-show="!sessionRequests.length">
					<td colspan="4">
						<p class="text-muted" style="text-align:center">No request in session</p>
					</td>
				</tr>
				<tr ng-repeat="h in sessionRequests|orderBy:'-timestamp'">
					<td>
						<span class="no-selection history-request" data-dismiss="modal" ng-click="loadRequestFromSession(h)"><b>{{h.request.method}}</b>: <u>{{h.request.uri}}</u></span>
					</td>
					<td class="no-selection history-request">
						{{h.timestamp|date:'M/d/yy h:mm:ss a'}}
					</td>
					<td>
						<a href="/api/request/{{h.id}}" title="Download this request" class="btn btn-primary btn-xs">
							<span class="glyphicon glyphicon-cloud-download"></span>
						</a>
					</td>
					<td>
						<a ng-click="removeRequest(h.id)" title="Remove this request from session" class="btn btn-danger btn-xs">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
				<tfoot>
					<tr>
						<td colspan="4" style="text-align:right">
							<br/>
							<a href="/api/requests" class="btn btn-primary btn-xs" ng-disabled="sessionRequests.length==0">Download all <span class="glyphicon glyphicon-cloud-download"></span></a>
						</td>
					</tr>
				</tfoot>
			</table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- HISTORY MODAL -->